@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wrapperSize: 429px;
  --reelSize: 30px;
  --displaySize: 150px;
  --displayZoom: 2.86;
}

body {
  background: #081028;
  width: 100%;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 100px;
  width: 6px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 100px;
  transition: all 0.2 ease-in;
}

.plinko-board {
  text-align: center;
  margin-top: 50px;
}

.plinko-board-header button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.plinko-game {
  position: relative;
  width: 800px;
  height: 600px;
  border: 2px solid #000;
  margin-top: 20px;
  background-color: #f0f0f0;
}

.plinko-ball {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ff6347;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.pegs {
  position: absolute;
  width: 100%;
  height: 100%;
}

.plinko-peg {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #444;
  border-radius: 50%;
}

.sinks {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.plinko-sink {
  width: 60px;
  height: 20px;
  background-color: #444;
  position: relative;
}

.b {
  --i: 0;
  --bg: transparent;
  background: var(--bg);
  border-radius: 100%;
  box-shadow: 0 0 calc(1 * var(--reelSize)) 0 rgba(0, 0, 0, 0.125);
  height: calc(100% - var(--index) * 2 * var(--reelSize));
  left: calc(var(--index) * var(--reelSize));
  overflow: hidden;
  position: absolute;
  top: calc(var(--index) * var(--reelSize));
  width: calc(100% - var(--index) * 2 * var(--reelSize));
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateCounterClockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-960deg);
  }
}

.i {
  font-size: calc(var(--reelSize) / 2);
  height: var(--reelSize);
  left: 0;
  line-height: calc(var(--reelSize) * 0.9);
  margin-top: calc(var(--reelSize) / -2);
  position: absolute;
  top: 50%;
  transform-origin: center right;
  width: 50%;
  padding: 5px;
}

.date::-webkit-calendar-picker-indicator {
  background-image: url(http://icons.iconarchive.com/icons/dakirby309/simply-styled/256/Calendar-icon.png);
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  color: rgba(204, 204, 204, 0);
}

.date::-webkit-datetime-edit-text {
  color: transparent;
}

.date::-webkit-datetime-edit-month-field {
  color: transparent;
}

.date::-webkit-datetime-edit-day-field {
  color: transparent;
}

.date::-webkit-datetime-edit-year-field {
  color: transparent;
}

.dice-container {
  perspective: 1000px;
}

.dice {
  width: 100px;
  height: 100px;
  transition: transform 2s ease-in-out;
}

.dice.rolling {
  animation: roll 2s linear infinite;
}

@keyframes roll {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  25% {
    transform: rotateX(90deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(180deg) rotateY(0deg);
  }

  75% {
    transform: rotateX(270deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(0deg);
  }
}

.roulette-wheel {
  float: right;
  width: 380px;
  height: 380px;
  border-radius: 100%;
  background: url(assets/roulette_1.jpg);
  background-size: 380px 380px;
  shape-outside: circle(190px);
  margin: 0 0 1em 1em;
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.4);
  position: relative;
  touch-action: none;
  overflow: visible;
}

@media screen and (max-width: 2640px) {
  .roulette-wheel {
    float: none;
    margin: 1em auto;
  }
}

@media screen and (max-width: 375px) {
  body {
    padding: 0 20px;
  }

  .roulette-wheel {
    float: none;
    left: 30px;
  }
}

.roulette-wheel .layer-2,
.roulette-wheel .layer-3,
.roulette-wheel .layer-4,
.roulette-wheel .layer-5,
.ball-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 380px 380px;
}

.roulette-wheel .layer-2,
.roulette-wheel .layer-4,
.ball-container {
  will-change: transform;
}

.roulette-wheel .layer-2 {
  background-image: url(assets/roulette_2.png);
}

.roulette-wheel .layer-3 {
  background-image: url(assets/roulette_3.png);
}

.roulette-wheel .layer-4 {
  background-image: url(assets/roulette_4.png);
}

.roulette-wheel .layer-5 {
  background-image: url(assets/roulette_5.png);
}

.roulette-wheel svg {
  position: absolute;
  top: 0;
  left: 0;
}

.roulette-wheel circle {
  cursor: pointer;
  fill: transparent;
}

.roulette-wheel .ball {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
  box-shadow: 1px 1px 4px #000;
  transform: translateY(-116px);
  top: 50%;
  left: 50%;
  margin: -7px;
  will-change: transform;
}

.radial-grad {
  background: radial-gradient(50% 50% at 50% 50%, #21cc63 0%, #168b37 100%);
}
input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"] {
  position: relative;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  line-height: 0;
  vertical-align: text-top;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  /* opacity: 0.5; */
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 9px;
  top: 10px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

input[type="checkbox"]:checked {
  background: #cb3cff;
}
